{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.9/index.global.min.js"></script>
    <link rel="stylesheet" href="{% static 'styles/homestyle.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <div id="calendar-container">
        <div id="calendar"></div>
    </div>

        <!-- Contenedor para el botón y el formulario -->
        <div class="button-container">
            <button id="toggleMenuButton">Abrir Menú</button>
        
            <!-- Menú desplegable -->
        <div id="menu" class="menu">
            <button id="addEventButton">Agregar Evento</button>
            <button id="editEventButton">Editar Evento</button>
            <button id="deleteEventButton">Eliminar Evento</button>
            <button id="editAccountButton">Editar Cuenta</button>
            <button id="logoutButton" data-login-url="{% url 'login' %}">Cerrar Sesión</button>
        </div>

        <!-- Formulario emergente para agregar un nuevo evento -->
        <div id="eventPopup">
            <form action="{% url 'agregar_evento' %}" method="post">
                {% csrf_token %}
                <h3>Agregar Evento</h3>
        
                <label for="titulo">Título:</label>
                <input type="text" id="titulo" name="titulo" placeholder="Título del evento" required><br><br>
        
                <label for="fecha">Fecha:</label>
                <input type="date" id="fecha" name="fecha" required><br><br>
        
                <label for="hora_inicio">Hora de Inicio:</label>
                <input type="time" id="hora_inicio" name="hora_inicio" required><br><br>
        
                <label for="hora_fin">Hora de Fin:</label>
                <input type="time" id="hora_fin" name="hora_fin" required><br><br>
        
                <label for="ubicacion">Ubicación:</label>
                <input type="text" id="ubicacion" name="ubicacion" placeholder="Ubicación del evento"><br><br>
        
                <button type="submit">Guardar Evento</button>
                <button type="button" id="cancelEventButton">Cancelar</button>
            </form>
        </div>
        </div>
    </div>

    <script src="{% static 'js/calendar.js' %}"></script>
</body>
</html>